# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
Lib/
Scripts/
Include/
pyvenv.cfg

# VSCode / PyCharm
.vscode/
.idea/

# Data
RAG_processed_data/
chroma_db/
share/
.env
/*.json

# Logs / Caches
*.log
*.tmp
.cache/

# Test scripts
test*.py
